{{ form_start(form) }}
{{ form_start(formOffrir)}}

{{ form_widget(form) }}
{{ form_widget(formOffrir) }}

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(formOffrir) }}
{{ form_end(form) }}
