{% extends 'base.html.twig' %}

{% block title %}Rapport index{% endblock %}

{% block body %}

    <h1>Rapports du visiteur {{ app.user.nom }}</h1>
    
    <br><br>
    <a href="{{ path('rapport_new') }}" class="btn btn-primary btn-block" role="button">Créer un nouveau rapport</a>
    <br>

    {{ form_start(search) }}

    <h3><u>Trier la recherche</u></h3>
    <br>
    <a href="{{ path('index') }}" class="btn btn-info" role="button">Réinitialiser la recherche</a>
    <br><br>
    <div class='row'>
        <div class="col-sm-6">
            {{ form_row(search.grandeur) }}
            {{ form_row(search.date) }}

            
        </div>
        <div class="col-sm-6">
            {{ form_row(search.choixTri) }}
        </div>

    </div>
    <button class="btn btn-success">{{ button_label|default('Rechercher') }}</button>
    <br><br>
    {{ form_end(search) }}
    <p><b>Nom du médecin</b></p>
    <input type="text" id="InputchoiseM" onkeyup="myFunction()" placeholder="Nom du médecin">
    <br><br>
    <table class="table" id="Table01">
        <thead>
            <tr>
                <th>Date du rapport</th>
                <th>Motif du rapport</th>
                <th>Bilan du rapport</th>
                <th>Nom du medecin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rapport in rapports %}
            <tr>
                <td>{{ rapport.date ? rapport.date|date('d-m-Y') : '' }}</td>
                <td>{{ rapport.motif }}</td>
                <td>{{ rapport.bilan }}</td>
                <td>{{ rapport.idmedecin.prenom }} {{ rapport.idmedecin.nom }}</td>
                <td>
                    <a href="{{ path('rapport_show', {'id': rapport.id}) }}" class="btn btn-default" role="button">Aperçu</a>
                    <br>
                    <a href="{{ path('rapport_edit', {'id': rapport.id}) }}" class="btn btn-default" role="button">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        function myFunction() {
          var input, filter, table, tr, td, i;
          input = document.getElementById("InputchoiseM");
          filter = input.value.toUpperCase();
          table = document.getElementById("Table01");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>
{% endblock %}
