{% extends 'base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}

    <center>
        <div class="row">
            <div class='col-lg-4'>
                <a href="{{ path('rapport_index') }}" class="btn btn-primary" role="button" >Retourner à la liste des rapports de {{ rapport.idvisiteur.nom }}</a>
            </div>
            <div class='col-lg-4'>
                <a href="{{ path('rapport_edit', {'id': rapport.id}) }}" class="btn btn-info" role="button">Modifier le rapport</a>
            </div>
            <div class='col-lg-4'>
                {{ include('rapport/_delete_form.html.twig') }}
            </div>
        </div>
    </center>

    <br><br>

    <h1>Rapport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ rapport.date ? rapport.date|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ rapport.motif }}</td>
            </tr>
            <tr>
                <th>Bilan</th>
                <td>{{ rapport.bilan }}</td>
            </tr>
            <tr>
                <th>Nom du médecin</th>
                <td>{{ rapport.idmedecin.prenom }} {{ rapport.idmedecin.nom }}</td>
            </tr>
            {% if echantillons|length > 0 %}
                </tbody>
                </table>
                <strong>Echantillon offerts pendant la visite : </strong><br><br>
                {% for echantillon in echantillons %}
                <div class="panel panel-warning"> 
                    <div class="panel-body">
                        <p>Pendant la visite, {{echantillon.quantite}} échantillons de {{echantillon.medicament.nomcommercial}} ont été offert </p>
                    </div>
                </div>
                {% endfor %}
                <tbody>
                <table>
            {% else %}
                <tr>
                    <th>Echantillon</th>
                    <td colspan="5">Aucun échantillon a été offert</td>
                </tr>
            {% endif %}

            {# <tr>
                <th>Echantillon offert</th>
                <td>Medicament = {{ rapport.offrirs.medicament.nomcommercial }}, nb = {{rapport.offrirs.quantite}} </td>
            </tr> #}
        </tbody>
    </table>

{% endblock %}
